<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="remotedb.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="protocol" value="${protocol}"/>
                <property name="host" value="${host}"/>
                <property name="port" value="${port}"/>
                <property name="dbname" value="${dbname}"/>
                <property name="user" value="${user}"/>
                <property name="password" value="${password}"/>
                <property name="pool_size" value="${pool_size}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="IExamMapper"/>
        <mapper class="ISpecialityMapper"/>
        <mapper class="ISubjectMapper"/>
    </mappers>
</configuration>